body
{
	background: url(Semaine5/stucco.png);
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	color: black;
}
header
{
		background: url(Semaine5/ep_naturalblack.png);
}
header h1
{
  font-size: center;
  font-weight: bold;
}
header img
{

  max-width: 75px;
  max-height: 100px
}
footer
{
	background: url(Semaine5/ep_naturalwhite/ep_naturalwhite/ep_naturalwhite.png);
}
